

<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Имя</th>
          <th>Телефон</th>
          <th>Дата</th>
          <th>Парикмахер</th>
          <th>Цвет</th>
        </tr>
      </thead>
      <tbody>
        <%= @tabledb %>
      </tbody>
    </table>